# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
/cmake-build-debug/
.DS_Store
output/output.png
/.vs
/out/build/x64-Debug
/lab2/Lab02_1_Mochalova/Lab02WinF/obj/Release/net8.0-windows
/.gitignore
